<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href= "/static/css/homepage.css">
</head>

<body>
     <div class="container">
         <div class="jumbotron" align="center">

             <h1> Welcome To django chatapp </h1>


        <a class="btn btn-primary btn-lg" href="/about_us" role="button">About us</a>
        <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact us</a>
        <a class="btn btn-primary btn-lg" href="/course" role="button">Courses</a>
        <a class="btn btn-primary btn-lg" href="/admin" role="button">admin</a>




</div>

    </div>

</body>
</html>