<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href= "/static/css/py.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<body>
<div class="container" >
<h1> Brainworks Batches Information </h1><hr>
    <h2> Python Batch </h2><hr>
  {% if student %}
    {%for PythonStudent in student%}
    <h3> {{PythonStudent.name}} </h3><hr>
    <ul>
        <li> Mobile Number:{{PythonStudent.mob}}</li>
        <li> Email ID:{{PythonStudent.email}}</li>
        <li>Total Course Fees:{{PythonStudent.totalfees}}</li>
        <li>Paid Amount:{{PythonStudent.paid}}</li>
        <li> Due:{{PythonStudent.due}}</li>
    </ul>
    <br>
       {%endfor%}
    {%else%}
    <p>Students records are not available</p>
    {%endif%}
</div>


</body>
</html>