<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href= "/static/css/table.css">
</head>
<body>
<h1> BrainWorks consultancy </h1><hr>
<h2> Employee Information </h2>
{% if employees %}
    <table border="2">
        <thead>
          <th> Employee number </th>
          <th> Employee name </th>
          <th> Employee salary </th>
          <th> Employee address </th>
        </thead>

        {% for emp in employees %}
            <tr>
                <td> {{emp.e_no}} </td>
                <td> {{emp.e_name}} </td>
                <td> {{emp.e_salary}} </td>
                <td> {{emp.e_add}} </td>
            </tr>
        {% endfor%}
   </table>
    {%else%}
     <p>no Employee records found !!</p>
    {%endif%}
<h3> {{date}}</h3>
</body>
</html>